<%- include ../partials/header %>

<div class="container">
    <div class="raw">
        <h1>You are about to modify : <%=  park.name %></h1>
        <div style="width:30%; margin: 25px auto;">
            <form action="/parks/<%= park._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="park[name]" value="<%= park.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="park[image]" value="<%= park.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="park[description]" value="<%= park.description %>" />
                </div>
                <div class="form-group">
                    <a id="btn" class="" href="#">add more images</a>
                </div>
                <div class="form-group" id="form">
                    <% if(park.images) { %>
                     <%   park.images.forEach(function(image) { %>
                        <input class="form-control" type="text" name="park[images]" value="<%= image %>>">
                      <%  }); %>
                    <% } %>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/footer %>

<script>
    (function () {
        var btn = document.getElementById('btn');
        var form = document.getElementById('form');
        var addInput = function () {
            var input = document.createElement("input");
            input.class = 'from-control';
            input.type = 'text';
            input.name = 'park[images]';
            input.placeholder = 'Add one more image';
            form.appendChild(input);
        };
        btn.addEventListener('click', function () {
            addInput();
        }.bind(this));
    })();
</script>
